* {
  margin: 0;
  padding: 0;
}
.inline-component {
  display: inline;
}
.block-component {
  display: block;
}
.flex-container {
  display: flex;
}
.flex-components {
  display: flex;
}
.grid-container {
  display: grid;
}
.inline_block-component {
  display: inline-block;
}
.absolute-component {
  position: absolute;
}
.relative-component {
  position: relative;
}
.fixed_component {
  position: fixed;
}
.sticky-component {
  position: sticky;
}
.darken_component {
  transition: 0.3s;
}
.hover-border-animation1 {
  border-radius: 3px;
}
.hover-border-animation1:hover {
  border: 1px white solid;
}
.hover-border-animation2 {
  border-radius: 5px;
}
.hover-border-animation2:hover {
  box-shadow: 2px 3px 10px 0;
}

.top_header {
  height: 63px;
  width: 100%;
  background-color: rgb(16, 79, 16);
  align-items: center;
}
.header_logo {
  width: 12%;
  height: 65%;
  background-color: white;
  margin-left: 15px;
}
.top_header_deliveredCountry {
  width: 17%;
  height: 65%;
  background-color: white;
  margin: 5px;
}
.searchbox {
  width: 70%;
  height: 70%;
  background-color: white;
  margin: 2px;
}
.top_header_lang {
  width: 8%;
  height: 65%;
  background-color: white;
  margin: 2px;
}
.top_header_account {
  width: 14%;
  height: 65%;
  background-color: white;
  margin: 2px;
}
.top_header_orders {
  width: 8%;
  height: 65%;
  background-color: white;
  margin: 2px;
}
.top_header_carts {
  width: 8%;
  height: 65%;
  background-color: white;
  margin: 2px;
}
.header_menu {
  height: 38px;
  width: 100%;
  background-color: rgb(24, 125, 24);
}
.header_menu ul {
  padding: 8px 0px;
}
.header_menu_link {
  margin: 0 10px 0 10px;
}
.header_menu_link a {
  color: white;
}
.underline_none_a {
  text-decoration-line: none;
}
.full_side_menu_container {
  position: fixed;
  width: 0;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.3s;
  transition-property: width; /*animation이 적용되는 css tag를 구체적으로 명시*/
}
.full_side_menu_container a {
  font-size: 36px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}
.full_side_menu_header {
  align-items: center;
  background-color: rgb(13, 62, 13);
  padding: 5px;
}
.full_side_menu_icon {
  padding: 0 10px 3px 10px;
}
.full_side_menu_profile {
  overflow: hidden;
  white-space: nowrap; /*div 크기가 줄어들었을때 자동 줄바꿈 해제*/
  flex: 1;
  text-overflow: ellipsis;
}
.full_side_menu_main {
  height: 100%;
  background-color: rgb(104, 74, 74);
}
#full_side_menu_close_btn {
  /* display: none; */
  padding: 0 20px 0 20px;
  top: 7px;
  left: 270px;
  font-size: 36px;
  margin-left: 50px;
  background-color: rgb(101, 60, 60);
}

main {
  align-items: center;
}
.background_image_container {
  width: 95%;
  height: 300px;
  margin: auto;
  z-index: 0;
  overflow-y: visible;
}
.background_image {
  background-color: aquamarine;
  width: 100%;
  height: 450px;
}
.product_container {
  margin: 0 auto;
  width: 95%;
  height: 600px;
  padding-top: 10px;
}
.product {
  background-color: #4a6159;
  margin: 5px 15px 5px 15px;
  text-align: center;
  font-size: 35px;
}
.product1_container {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.product2_container {
  height: 200px;
}
.product2_container div {
  margin: 0px 15px 0px 15px;
  height: 100%;
}
.product3_container {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 300px;
}
